.contact {
    background-image: url("../assets/images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    width: 100%;
}

.desc {
    position: absolute;
    top: 120px;
}

.contact_for_me {
    position: absolute;
    top: 200px;
    width: 70%;
}
