.partner img {
    max-width: 150px;
    width: auto;
    height: 120px;
    object-fit: cover;
    padding: 0 10px;
    cursor: pointer;
}

.partner .banner-wrapper {
    width: 100%;
    overflow: hidden;
}

.partner .banner-wrapper .wrapper {
    display: flex;
}

.partner .banner-wrapper .wrapper .images {
    display: flex;
    animation: swipe 7000ms linear infinite;
    gap: 60px;
}

/* .partner .banner-wrapper .wrapper .images:nth-child(2) {
    animation-delay: 5000ms;
} */

/* .partner .banner-wrapper .wrapper .images:last-child {
    animation-delay: 10000ms;
} */


.partner .banner-wrapper:hover .wrapper .images {
    animation-play-state: paused;
}

@keyframes swipe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}